
.meal {
    list-style-type: '- '; 
    text-transform: bold;
}

.recipes {
    text-indent: 1rem;

}

h1 {
    text-align: center;
    font-size: 2rem;
    background-color: lightblue;
}

h2 {
    color: rgb(65, 65, 243);
}

div {
    background-color: lightgray;
}